set firewall ipv4 name LAN-LOCAL default-log
set firewall ipv4 name LAN-LOCAL rule 1 action 'accept'
set firewall ipv4 name LAN-LOCAL rule 1 state 'established'
set firewall ipv4 name LAN-LOCAL rule 1 state 'related'
set firewall ipv4 name LAN-LOCAL rule 2 action 'drop'
set firewall ipv4 name LAN-LOCAL rule 2 log
set firewall ipv4 name LAN-LOCAL rule 2 state 'invalid'
set firewall ipv4 name LAN-LOCAL rule 750 action 'accept'
set firewall ipv4 name LAN-LOCAL rule 750 description 'Allow HTTPS 8443 API access'
set firewall ipv4 name LAN-LOCAL rule 750 destination port '8443'
set firewall ipv4 name LAN-LOCAL rule 750 log
set firewall ipv4 name LAN-LOCAL rule 750 protocol 'tcp'
set firewall ipv4 name LAN-LOCAL rule 800 action 'accept'
set firewall ipv4 name LAN-LOCAL rule 800 description 'Allow SSH from LAN to the VyOS router'
set firewall ipv4 name LAN-LOCAL rule 800 destination port '22'
set firewall ipv4 name LAN-LOCAL rule 800 log
set firewall ipv4 name LAN-LOCAL rule 800 protocol 'tcp'
set firewall ipv4 name LAN-WAN rule 1 action 'accept'
set firewall ipv4 name LAN-WAN rule 1 state 'established'
set firewall ipv4 name LAN-WAN rule 1 state 'related'
set firewall ipv4 name LAN-WAN rule 1 state 'new'
set firewall ipv4 name LAN-WAN rule 2 action 'drop'
set firewall ipv4 name LAN-WAN rule 2 log
set firewall ipv4 name LAN-WAN rule 2 state 'invalid'
set firewall ipv4 name LOCAL-LAN default-log
set firewall ipv4 name LOCAL-LAN rule 1 action 'accept'
set firewall ipv4 name LOCAL-LAN rule 1 state 'established'
set firewall ipv4 name LOCAL-LAN rule 1 state 'related'
set firewall ipv4 name LOCAL-LAN rule 2 action 'drop'
set firewall ipv4 name LOCAL-LAN rule 2 log
set firewall ipv4 name LOCAL-LAN rule 2 state 'invalid'
set firewall ipv4 name WAN-LAN rule 1 action 'accept'
set firewall ipv4 name WAN-LAN rule 1 state 'established'
set firewall ipv4 name WAN-LAN rule 1 state 'related'
set firewall ipv4 name WAN-LAN rule 2 action 'drop'
set firewall ipv4 name WAN-LAN rule 2 log
set firewall ipv4 name WAN-LAN rule 2 state 'invalid'
set firewall zone DMZ default-action 'drop'
set firewall zone DMZ member interface 'eth2'
set firewall zone LAN default-action 'drop'
set firewall zone LAN from LOCAL firewall name 'LOCAL-LAN'
set firewall zone LAN from WAN firewall name 'WAN-LAN'
set firewall zone LAN member interface 'eth1'
set firewall zone LOCAL default-action 'drop'
set firewall zone LOCAL from LAN firewall name 'LAN-LOCAL'
set firewall zone LOCAL member interface 'lo'
set firewall zone WAN default-action 'drop'
set firewall zone WAN from LAN firewall name 'LAN-WAN'
set firewall zone WAN member interface 'eth0'
set high-availability vrrp group DMZ address 192.168.3.1/24
set high-availability vrrp group DMZ interface 'eth2'
set high-availability vrrp group DMZ priority '100'
set high-availability vrrp group DMZ vrid '3'
set high-availability vrrp group LAN address 192.168.1.1/24
set high-availability vrrp group LAN disable
set high-availability vrrp group LAN interface 'eth1'
set high-availability vrrp group LAN priority '100'
set high-availability vrrp group LAN vrid '1'
set high-availability vrrp group WAN address 169.254.1.1/32
set high-availability vrrp group WAN advertise-interval '1'
set high-availability vrrp group WAN interface 'eth0'
set high-availability vrrp group WAN priority '100'
set high-availability vrrp group WAN transition-script backup '/opt/vyatta/etc/config/scripts/vrrp-backup.sh'
set high-availability vrrp group WAN transition-script master '/opt/vyatta/etc/config/scripts/vrrp-master.sh'
set high-availability vrrp group WAN vrid '50'
set interfaces ethernet eth0 address 'dhcp'
set interfaces ethernet eth0 description 'WAN'
set interfaces ethernet eth0 hw-id 'c8:a7:0a:b6:24:54'
set interfaces ethernet eth0 offload gro
set interfaces ethernet eth0 offload gso
set interfaces ethernet eth0 offload sg
set interfaces ethernet eth0 offload tso
set interfaces ethernet eth1 address '192.168.1.3/24'
set interfaces ethernet eth1 description 'LAN'
set interfaces ethernet eth1 offload gro
set interfaces ethernet eth1 offload gso
set interfaces ethernet eth1 offload sg
set interfaces ethernet eth1 offload tso
set interfaces ethernet eth2 address '192.168.3.3/24'
set interfaces ethernet eth2 description 'DMZ'
set interfaces ethernet eth2 offload gro
set interfaces ethernet eth2 offload gso
set interfaces ethernet eth2 offload sg
set interfaces ethernet eth2 offload tso
set interfaces loopback lo
set pki sertificate gwbackup-api-cert private key 'private key'
set service dhcp-server dynamic-dns-update conflict-resolution 'enable'
set service dhcp-server dynamic-dns-update send-updates 'enable'
set service dhcp-server high-availability mode 'active-active'
set service dhcp-server high-availability name 'gwbackup'
set service dhcp-server high-availability remote '192.168.1.2'
set service dhcp-server high-availability source-address '192.168.1.3'
set service dhcp-server high-availability status 'secondary'
set service dhcp-server listen-address '192.168.1.3'
set service dhcp-server shared-network-name BFNET authoritative
set service dhcp-server shared-network-name BFNET subnet 192.168.1.0/24 option default-router '192.168.1.1'
set service dhcp-server shared-network-name BFNET subnet 192.168.1.0/24 option domain-name '6browns.org'
set service dhcp-server shared-network-name BFNET subnet 192.168.1.0/24 option name-server '192.168.1.243'
set service dhcp-server shared-network-name BFNET subnet 192.168.1.0/24 range 1 start '192.168.1.33'
set service dhcp-server shared-network-name BFNET subnet 192.168.1.0/24 range 1 stop '192.168.1.220'
set service dhcp-server shared-network-name BFNET subnet 192.168.1.0/24 subnet-id '1'
set service https api keys id GWBAPI key 'API Token'
set service https certificates certificate 'gwbackup-api-cert'
set service https listen-address '192.168.1.3'
set service https port '8443'
set service ntp allow-client address '127.0.0.0/8'
set service ntp allow-client address '169.254.0.0/16'
set service ntp allow-client address '10.0.0.0/8'
set service ntp allow-client address '172.16.0.0/12'
set service ntp allow-client address '192.168.0.0/16'
set service ntp allow-client address '::1/128'
set service ntp allow-client address 'fe80::/10'
set service ntp allow-client address 'fc00::/7'
set service ntp server time1.vyos.net
set service ntp server time2.vyos.net
set service ntp server time3.vyos.net
set service ssh port '22'
set system config-management commit-revisions '100'
set system console device ttyS0 speed '115200'
set system host-name 'gwbackup'
set system login user vyos authentication encrypted-password 'passwork hash'
set system syslog local facility all level 'info'
set system syslog local facility local7 level 'debug'
